<div class="ids" layout="column">
    <div layout="row" class="seller" layout-align="start center">
        <div class="logo md-accent-bg" layout="row" layout-align="center center">
            <div>F</div>
        </div>

        <div class="divider"></div>

        <div class="detail">
            <div class="title">Deli Inc.</div>
            <div class="address">2810 Country Club Road</div>
            <div class="phone"><span>Phone</span>: +66 123 455 87</div>
            <div class="email"><span>Email</span>: hello@deli.com</div>
            <div class="website"><span>Web</span>: www.deli.com</div>
        </div>
    </div>

    <div layout="row" class="client" layout-align="start center">
        <div class="label" layout="row" layout-align="end center">
            <div>CLIENT</div>
        </div>

        <div class="divider"></div>

        <div class="detail">
            <div class="title">
                {{vm.order.customer.billing_address.first_name}}
                {{vm.order.customer.billing_address.last_name}}
            </div>
            <div class="address">{{vm.order.customer.billing_address.address_1}}</div>
            <div class="address">
                {{vm.order.customer.billing_address.city}},
                {{vm.order.customer.billing_address.state}}
                {{vm.order.customer.billing_address.postcode}}
            </div>
            <div class="phone"><span>Phone</span>: {{vm.order.customer.billing_address.phone}}</div>
            <div class="email"><span>Email</span>: {{vm.order.customer.billing_address.email}}</div>
        </div>
    </div>
</div>

<table class="summary">
    <tr class="code">
        <td class="label" >INVOICE</td>
        <td class="value">P9-{{vm.order.order_number}}</td>
    </tr>

    <tr>
        <td class="label" >INVOICE DATE</td>
        <td class="value">{{vm.order.created_at | date}}</td>
    </tr>

    <tr>
        <td class="label" >DUE DATE</td>
        <td class="value">{{vm.order.created_at | date}}</td>
    </tr>

    <tr>
        <td class="label" >TOTAL DUE</td>
        <td class="value">{{vm.order.total | currency}}</td>
    </tr>
</table>