<div flex>
    <md-button
            ng-click="vm.iAmHere()"
            class="md-accent md-raised"
            ng-if="vm.accepted"
            aria-label="compose"
    >I Am Here
    </md-button>
</div>
<div align="end center">
    <md-button
            ng-click="vm.acceptDelivery()"
            class="md-accent md-raised md-light-green-500-bg"
            aria-label="compose"
    >Accept Delivery
    </md-button>
</div>

<div class="card md-whiteframe-8dp" ng-if="vm.i_am_here">
    <div class="content">
        <md-slider flex ng-model="color.green" min="0" max="2" aria-label="green" id="green-slider"></md-slider>
        <section class="block" layout="row" layout-sm="column" layout-align="center" layout-wrap>
            <h2 flex align="start center">No Tip</h2>
            <h2 flex align="center">Average</h2>
            <h2 flex align="end center" class="text-right">Thanks</h2>
        </section>
        <div align="center">
            <md-button
                    ng-click="vm.completeOrder()"
                    class="md-accent md-raised md-light-green-500-bg"
                    aria-label="compose"
            >Complete Order
            </md-button>
        </div>
    </div>
</div>